.learning-header {
    min-width: 0;
  
    .course-title-lockup {
      min-width: 0;
  
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 0.1rem;
      }
    }
  
    .user-dropdown {
      .btn {
        height: 3rem;
        // @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
        //   padding: 0 0.5rem;
        // }
      }
    }
  }

