.funix-flag-button-selected, .funix-flag-button-selected:hover {
	border: 1px solid #2cd171;
	box-shadow: 0 0 0 2px #2cd171;
}

.input-time{

	width: 80px;
}


.form-date {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}