.collapsible-sequence-link-unit {
  &-container {
    display: flex;
    padding: 0.25rem 0.8125rem 0.25rem 1rem;
    align-items: center;
    gap: 0.25rem;
    align-self: stretch;
    & .collapsible-trigger {
      display: block;
    }
    & .collapsible-icon {
      display: none;
    }
  }
}

.collapsible-icon {
  margin-left: 0px !important;
}

.collapsible-sequence-link-container-unit {
  display: flex;
  padding: 0 1rem;
  margin-bottom: 1rem;
  line-height: 1;

  .pgn_collapsible {
    align-items: center;
    .collapsible-trigger {
      padding: 0;
      border-bottom: 0;
    }
    .collapsible-icon {
      display: none;
    }
  }
  .collapsible-tab {
    background-color: unset;
    display: flex;
    align-items: flex-start;

    & .collapsible-body {
      padding: 0 !important;
      background-color: unset !important;
      & .unit-padding {
        padding: 0.25rem 0;
      }
    }

    a {
      display: inline-block;
      width: 100%;
      text-decoration: none;
      font-family: Roboto;
      &.complete {
        font-weight: 400;

        color: var(--color-text-default);
      }

      &.complete-unit {
        font-weight: 400;

        color: var(--color-text-default);
      }

      &.active.complete,
      &.active.complete-unit {
        font-weight: 500;

        color: var(--color-active);
        &:hover {
          color: var(--color-hover);
        }
      }

      &.active.complete {
        white-space: unset;
        overflow: unset;
        text-overflow: unset;
        max-width: unset;
      }

      &.active {
        color: var(--color-active);
        font-weight: 500;
        white-space: unset;
        overflow: unset;
        text-overflow: unset;
        max-width: unset;
      }

      &:hover {
        color: var(--color-hover);
      }
      &.unit-link {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 26ch;
        font-size: 0.875rem;
        &.active {
          white-space: unset;
          overflow: unset;
          text-overflow: unset;
          max-width: unset;
        }
        &.complete-unit.active {
          white-space: unset;
          overflow: unset;
          text-overflow: unset;
          max-width: unset;
        }
      }
      color: var(--color-text-inactive);
      flex-grow: 0;
      font-family: Roboto;
      font-size: 1rem;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      white-space: nowrap; /* Prevent text from wrapping */
      overflow: hidden; /* Hide any content that overflows */
      text-overflow: ellipsis; /* Display an ellipsis (...) for overflowed content */
      max-width: 26ch;
    }

    &:hover a {
      text-decoration: none;
    }
  }
}

.success-icon {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.25rem;
  margin-left: 0;
  position: relative;
  top: 0.15rem;
}
