.collapsible-sequence-link-unit {
  &-container {
    display: flex;
    padding: 0.25rem 0.8125rem 0.25rem 1rem;
    align-items: center;
    gap: 0.25rem;
    align-self: stretch;
    & .collapsible-trigger {
      display: block;
    }
    & .collapsible-icon {
      display: none;
    }
  }
}

.collapsible-icon {
  margin-left: 0px !important;
}

.collapsible-sequence-link-container-unit {
  //set line height 100%
  li,
  div,
  ol,
  span,
  a {
    font-family: Roboto;
    line-height: 150%;
  }
  position: relative;
  display: flex;
  align-items: center;

  .sequence-effort-time {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    color: var(--color-text-default);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    column-gap: 0.25rem;
    & > svg {
      margin-left: 0.75rem;
      margin-top: -0.05rem;
      min-width: 1rem;
      height: 1rem;
    }
  }

  & .icon-toggle {
    position: absolute;
    cursor: pointer;
    margin-left: 0.5rem;
    top: 1rem;
    right: 0.5rem;
    color: var(--color-text-default);
  }
  .pgn_collapsible {
    align-items: center;
    width: 100%;
    .collapsible-trigger {
      width: 100%;
      padding: 1rem 0.5rem 1rem 1rem;
      border-bottom: 0;
      -webkit-border-radius: 0px;
    }
    .collapsible-icon {
      display: none;
    }
  }
  .collapsible-tab {
    width: 100%;
    background-color: unset;
    display: flex;

    &.active,
    &:hover {
      & .collapsible-trigger {
        background-color: #f0f0f0;
      }
      span {
        background-color: #f0f0f0;
      }
      .sequence-effort-time {
        background-color: #f0f0f0;
      }
    }
    & .collapsible-body {
      padding: 0 !important;
      background-color: unset !important;
      & .border-bottom {
        border-bottom: 1px solid var(--color-stroke);
      }
      & .unit-padding {
        padding: 0;
      }
    }

    a {
      color: var(--color-text-default);
      width: 100%;
      display: inline-block;
      text-decoration: none;
      font-family: Roboto;
      margin-right: 1.5rem;

      &.complete-unit {
        font-weight: 400;

        color: var(--color-text-default);
      }

      &.unit-link {
        display: flex;
        align-items: flex-start;
        font-size: 0.875rem;
        width: 100%;
        height: 100%;
        margin-right: 0;
        padding-right: 0;
        font-weight: 400;
        padding: 1rem 0 1rem 1rem !important;
      }

      font-weight: 500;

      flex-grow: 0;
      font-size: 1rem;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
    }

    &:hover a {
      text-decoration: none;
    }
  }
}

.pgn-transition-replace-group {
  width: 100%;
  padding-right: 0;

  .unit-link-wrapper {
    padding: 0 !important;

    &.active,
    &:hover {
      cursor: pointer;
      background-color: #e8e8e8;
    }

    & .check-icon {
      margin-right: 0.5rem;
      width: 1rem;
      min-width: 1rem;
      height: 1rem;
      margin-top: 0.1rem;
      svg {
      }
      &.complete {
        path {
          fill: #5aa447 !important;
        }
      }
    }
  }
}
