#courseTabsNavigation {
  .sub-header-container {
    margin-left: calc((100% - 43.75rem) / 2);
    margin-right: calc((100% - 46.75rem) / 2);
    position: relative;

    & a {
      color: #576f8a;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Roboto;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      padding: 1rem 0;
      margin-right: 1rem;
    }

    h1 {
      color: red;
    }
  }
}
