//<=1400
@media (max-width: 87.5rem) {
  .unit-container {
    width: 49.75rem;
  }

  .rightbar {
    max-width: unset;
    width: 16rem;

    min-width: 16rem;
  }
  .unit-left-sidebar {
    &.left-side {
      width: 16rem !important;
    }
    width: 2rem;
    .menu-lesson,
    #courseHome-utline {
      width: 16rem;

      .bg-light {
        width: 16rem !important;
      }
    }
    #courseHome-utline {
      &:hover {
        width: 16.5rem !important;
      }
    }
    .menu-lesson {
      transform: translateX(-13rem);
      border-bottom: 0;
      &.show-leftbar {
        transform: translateX(0);

        border-bottom: 1px solid #d1d7dc;
      }
    }
  }
  .sequence #courseware-sequenceNavigation {
    width: calc((100% - 49.5rem) / 2);
  }
  .sequence-navigation .sequence-navigation-tabs .feedback,
  .sequence-navigation .sequence-navigation-tabs,
  .sequence-navigation-tabs-container {
    width: 100%;
    min-width: 16rem;
    .file-container p.file-inform {
      white-space: wrap;
    }
  }
  #courseTabsNavigation .sub-header-container {
    margin-left: calc((100% - 43.5rem) / 2);
    margin-right: calc((100% - 40.5rem) / 2);
  }
}
//<=1300
@media (max-width: 81.25rem) {
  .unit-container {
    width: 49.75rem;
    transition: all 0.2s ease;
    &.push-right {
      transform: translateX(8rem);
      transition: all 0.2s ease;
    }
    &.push-left {
      transform: translateX(-8rem);
      transition: all 0.2s ease;
    }
  }
  .rightbar {
    max-width: unset;
    width: 19.75rem;

    min-width: 19.75rem;
  }

  .unit-left-sidebar {
    &.left-side {
      width: 19.75rem;

      min-width: 19.75rem;
    }

    @keyframes hide-leftbar {
      0% {
        width: 19.75rem;
      }
      50% {
        width: 15rem;
      }
      100% {
        width: 2rem;
      }
    }
    animation: 0.35s hide-leftbar linear forwards !important;
    #courseHome-utline {
      &:hover {
        width: 20.25rem !important;
      }
    }
    .menu-lesson,
    #courseHome-utline {
      width: 100%;
      .bg-light {
        width: 19.75rem !important;
      }
    }
    .menu-lesson {

      transform: translateX(-1rem);
      border-bottom: 0;
      h2 {
        display: none;
      }
      &.show-leftbar {
        h2 {
          display: block;
        }

        transform: translateX(0);

        border-bottom: 1px solid #d1d7dc;
      }
    }
  }
  .sequence #courseware-sequenceNavigation {
    &.active {
      width: 19.75rem;
    }
    &.no-active {
      width: 2rem;
    }
  }
  .sequence-navigation .sequence-navigation-tabs .feedback,
  .sequence-navigation .sequence-navigation-tabs,
  .sequence-navigation-tabs-container {
    width: 100%;
    min-width: 19.75rem;
    .file-container p.file-inform {
      white-space: wrap;
    }
  }
  #courseTabsNavigation .sub-header-container {
    margin-left: calc((100% - 43.5rem) / 2);
    margin-right: calc((100% - 40.5rem) / 2);
  }
}

//<=1200
@media (max-width: 75rem) {
  .unit-container {
    width: 49.75rem;
  }
  .unit-left-sidebar {
    width: calc((100% - 35.25rem) / 2);
    .menu-lesson,
    #courseHome-utline {
      width: 19.75rem;
    }
    .menu-lesson {

      transform: translateX(-1rem);

      border-bottom: 0;
      &.show-leftbar {
        transform: translateX(0);

        border-bottom: 1px solid #d1d7dc;
      }
    }
  }
  .sequence #courseware-sequenceNavigation {
    width: calc((100% - 35.25rem) / 2);
  }
  .sequence-navigation .sequence-navigation-tabs .feedback,
  .sequence-navigation .sequence-navigation-tabs,
  .sequence-navigation-tabs-container {
    width: 13.375rem;
    .file-container p.file-inform {
      white-space: wrap;
    }
    .file-container > div {
      flex-direction: column;
    }
  }
  #courseTabsNavigation .sub-header-container {
    margin-left: calc((100% - 43.75rem) / 2);
    margin-right: calc((100% - 34.25rem) / 2);
  }
}

//<=1148
@media (max-width: 71.75rem) {
  .unit-container {
    width: 41.5rem;
    padding: 0 2rem;
    transition: all 0.2s ease;
    &.push-right {
      transform: translateX(8rem);
      transition: all 0.2s ease;
    }
    &.push-left {
      transform: translateX(-8rem);
      transition: all 0.2s ease;
    }
  }
  .rightbar {
    max-width: unset;
    width: 19.75rem;

    min-width: 19.75rem;
  }

  .unit-left-sidebar {

    &.left-side {
      width: 19.75rem;

      min-width: 19.75rem;

    }

    @keyframes hide-leftbar {
      0% {
        width: 19.75rem;
      }
      50% {
        width: 15rem;
      }
      100% {
        width: 2rem;
      }
    }
    animation: 0.35s hide-leftbar linear forwards;

    .menu-lesson,
    #courseHome-utline {
      width: 100%;
      .bg-light {
        width: 19.75rem;
      }
    }
    .menu-lesson {
      transform: translateX(-1rem);
      border-bottom: 0;
      h2 {
        display: none;
      }
      &.show-leftbar {
        h2 {
          display: block;
        }
        transform: translateX(0);

        border-bottom: 1px solid #d1d7dc;
      }
    }
    .menu-lesson {
      transform: translateX(-3.25rem);
      border-bottom: 0;
      &.show-leftbar {
        transform: translateX(0);

        border-bottom: 1px solid #d1d7dc;
      }
    }
  }
  .sequence #courseware-sequenceNavigation {
    &.active {
      width: 19.75rem;
    }
    &.no-active {
      width: 2rem;
    }
  }
  .sequence-navigation .sequence-navigation-tabs .feedback,
  .sequence-navigation .sequence-navigation-tabs,
  .sequence-navigation-tabs-container {
    width: 100%;
    min-width: 19.75rem;
    .file-container p.file-inform {
      white-space: wrap;
    }
  }
  #courseTabsNavigation .sub-header-container {
    margin-left: calc((100% - 35.5rem) / 2);
    margin-right: calc((100% - 40.5rem) / 2);
  }
}

//<=992
@media (max-width: 62rem) {
  .unit-container {
    width: 49.75rem;
    padding: 0 3rem !important;
    transition: all 0.2s ease;
    &.push-right {
      transform: unset !important;
    }
    &.push-left {
      transform: unset !important;
    }
  }
  .rightbar.is-show-chatbot {
    width: 100%;
    top: 0 !important;
    z-index: 1000000;
    min-width: 100%;
  }

  .unit-left-sidebar {

    &.left-side {
      width: 100% !important;
      z-index: 1000000;
      padding-top: 0 !important;
    }
    .icon-toggle {
      right: 1.5rem !important;

    }

    @keyframes hide-leftbar {
      0% {
        width: 100%;
      }
      50% {
        width: 50%;
      }
      100% {
        width: 2rem;
      }
    }
    animation: 0.35s hide-leftbar linear forwards;
    #courseHome-utline:hover {
      width: 100% !important;
    }
    .menu-lesson,
    #courseHome-utline {
      width: 100%;
      &:hover {
        &::-webkit-scrollbar {
          display: none !important;
        }
      }
      .bg-light {
        width: calc(100%) !important;
      }
    }
    .menu-lesson {

      border-bottom: 0;


      h2 {
        display: none;
      }
      &.show-leftbar {
        h2 {
          display: block;
        }
        transform: translateX(0);

        border-bottom: 1px solid #d1d7dc;
      }
    }
  }
  .sequence #courseware-sequenceNavigation {
    &.active {
      width: 100%;
      max-width: unset !important;
      padding-top: 0 !important;
      z-index: 1000000;
    }
    &.no-active {
      width: 2rem;
      z-index: 5;
    }
  }
  .sequence-navigation .sequence-navigation-tabs .feedback,
  .sequence-navigation .sequence-navigation-tabs,
  .sequence-navigation-tabs-container {
    width: 100%;
    .file-container p.file-inform {
      white-space: wrap;
    }
    .submit-feedback-btn {
      margin: 1rem auto 0 auto;
      width: auto;
    }
    .feedback-question-title {
      margin-bottom: 0.5rem;
    }

    .feedback-question-select,
    .feedback-text {
      margin-bottom: 1rem;
    }
  }
  #courseTabsNavigation .sub-header-container {
    margin-left: calc((100% - 43.75rem) / 2);
    margin-right: calc((100% - 40.5rem) / 2);
  }
}

//<= 860

@media (max-width: 53.75rem) {
  .unit-container {
    width: calc(100% - 6rem);
    padding: 0 3rem !important;
    transition: all 0.2s ease;
    &.push-right {
      transform: unset !important;
    }
    &.push-left {
      transform: unset !important;
    }
  }
  .rightbar.is-show-chatbot {
    width: 100%;
    top: 0 !important;
    z-index: 1000000;
    min-width: 100%;
  }

  .unit-left-sidebar {

    &.left-side {
      width: 100% !important;
      z-index: 1000000;
      padding-top: 0 !important;

    }
    .icon-toggle {
      right: 1.5rem !important;
    }

    @keyframes hide-leftbar {
      0% {
        width: 100%;
      }
      50% {
        width: 50%;
      }
      100% {
        width: 2rem;
      }
    }
    animation: 0.35s hide-leftbar linear forwards;

    .menu-lesson,
    #courseHome-utline {
      width: 100%;
      &:hover {
        &::-webkit-scrollbar {
          display: none !important;
        }
      }
      .bg-light {
        width: calc(100%);
      }
    }
    .menu-lesson {

      border-bottom: 0;


      h2 {
        display: none;
      }
      &.show-leftbar {
        h2 {
          display: block;
        }
        transform: translateX(0);

        border-bottom: 1px solid #d1d7dc;
      }
    }
  }
  .sequence #courseware-sequenceNavigation {
    &.active {
      width: 100%;
      max-width: unset !important;
      padding-top: 0 !important;
      z-index: 1000000;
    }
    &.no-active {
      width: 2rem !important;
      z-index: 5;
    }
  }
  .sequence-navigation .sequence-navigation-tabs .feedback,
  .sequence-navigation .sequence-navigation-tabs,
  .sequence-navigation-tabs-container {
    width: 100%;
    .file-container p.file-inform {
      white-space: wrap;
    }
    .submit-feedback-btn {
      margin: 1rem auto 0 auto;
      width: auto;
    }
    .feedback-question-title {
      margin-bottom: 0.5rem;
    }

    .feedback-question-select,
    .feedback-text {
      margin-bottom: 1rem;
    }
  }
  #courseTabsNavigation .sub-header-container {
    margin-left: calc((100% - 43.75rem) / 2);
    margin-right: calc((100% - 40.5rem) / 2);
  }
}

//<= 500

@media (max-width: 31.25) {
  .unit-container {
    width: calc(100% - 2rem);
  }
}
