#custom-footer {
  z-index: 30000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 100%;
  padding: 2rem 0;
  .footer-container {
    margin: 0;
    padding: 0 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .footer-section-logo {
      display: block;
      & img {
        width: auto;
        height: 2rem;
      }
    }
    .footer-bottom {
      margin-bottom: 0;
      color: var(--color-text-default);
      font-feature-settings: "clig" off, "liga" off;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}
