#custom-footer {
  z-index: 30000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 100%; /* 1.5rem */
  padding: 2rem 0;
  .footer-container {
    margin: 0 auto;
    padding: 0 2rem;
    width: 47.75rem;

    .footer-section {
      .footer-section-logo {
        display: block;
        margin-right: 2.5rem;
        & img {
          display: block;
          width: 4.22875rem;
          height: 2rem;
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 1rem;
    margin-bottom: 0;
    color: var(--color-text-default);
    font-size: 1rem;
    font-weight: 400;
    line-height: 100%;
  }
}
